      <div class="container">
         <div class="site-footer" role="contentinfo">
            <ul class="site-footer-links">
               <li>&copy; Copyright <span class="js-year"></span> hidennis. Inspired by <a href="https://github.com/">GitHub</a>. </li>
            </ul>
         </div>
         <!-- /.site-footer -->
      </div>
      <!-- /.container -->
