<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <% include ./head %>
    <title>Join us · REST API</title>
  </head>


  <body class="logged_out  env-production macintosh  signup">
    <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
    <div class="wrapper">

      <% include ./banner %>
        <div class="site clearfix" role="main">
          <div id="site-container" class="context-loader-container" data-pjax-container>



<div class="setup-wrapper">

  <div class="setup-header">
      <h1>Join GitHub</h1>
      <p class="lead">The best way to design, build, and ship software.</p>

  </div>

  <div class="setup-main ">
    <div class="setup-form-container">
      <noscript>
        <p class="error">GitHub does not support browsers with JavaScript disabled.<br>
        We promise we'll behave.</p>
      </noscript>

<form accept-charset="UTF-8" action="/join" autocomplete="off" class="setup-form js-form-signup-detail" id="signup-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ANCuXqSIZHmRZIgwABeTXz3dZDG9Z/SorWlMK1WIxeYoaYHoBxB9NUxT7wTjXabolQimCyP89tsjo87XwsOKnw==" /></div>

  <h2 class="setup-form-title">
    Create your personal account
  </h2>

  <dl class="form"><dt class="input-label"><label autocapitalize="off" autofocus="autofocus" data-autocheck-url="/signup_check/username" for="user_login" name="user[login]">Username</label></dt><dd><input autocapitalize="off" autofocus="autofocus" data-autocheck-url="/signup_check/username" id="user_login" name="user[login]" size="30" type="text" /><p class="note">This will be your username — you can enter your organization&#39;s username next.</p></dd></dl>

  <dl class="form"><dt class="input-label"><label autocapitalize="off" data-autocheck-url="/signup_check/email" for="user_email" name="user[email]">Email Address</label></dt><dd><input autocapitalize="off" data-autocheck-url="/signup_check/email" id="user_email" name="user[email]" size="30" type="text" /><p class="note">You will occasionally receive account related emails. We promise not to share your email with anyone.</p></dd></dl>

  <dl class="form"><dt class="input-label"><label data-autocheck-url="/signup_check/password" for="user_password" name="user[password]">Password</label></dt><dd><input data-autocheck-url="/signup_check/password" id="user_password" name="user[password]" size="30" type="password" /><p class="note">Use at least one lowercase letter, one numeral, and seven characters.</p></dd></dl>

  <dl class="form"><dt class="input-label"><label for="user_password_confirmation">Confirm your password</label></dt><dd><input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" /></dd></dl>



  <input type="hidden" name="source_label" value="Detail Form">




    <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the
    <a href="https://help.github.com/terms" target="_blank">Terms of Service</a> and the
    <a href="https://help.github.com/privacy" target="_blank">Privacy Policy</a>.</p>

  <div class="form-actions">
    <button type="submit" class="button primary" id="signup_button" data-disable-with="Creating account&hellip;">Create an account</button>
  </div>

</form>
    </div> <!-- /.setup-form-container -->
  </div> <!-- /.setup-main -->

    <div class="setup-secondary">
      <div class="setup-info-module">
        <h2>You’ll love GitHub</h2>
        <ul class="features-list">
          <li><strong>Unlimited</strong> collaborators</li>
          <li><strong>Unlimited</strong> public repositories</li>

          <li class="list-divider"></li>

          <li><span class="octicon octicon-check"></span> Great communication</li>
          <li><span class="octicon octicon-check"></span> Friction-less development</li>
          <li><span class="octicon octicon-check"></span> Open source community</li>
        </ul>
      </div>
    </div>

</div>

          </div>
          <div class="modal-backdrop"></div>
        </div>
    </div><!-- /.wrapper -->

    <% include ./footer %>

  </body>
</html>
