

.header .logo {
  float: left;
  display: inline-block;
  width: 186px;
  height: 27px;
  background: url(/images/logo_developer.png) 0 0 no-repeat;
  text-indent: -999em;
}

/********************/
/*  Retina support  */
/********************/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {

  .header .logo {
    background-image: url(/images/logo_developer@2x.png);
    background-size: 186px 27px;
  }

}

/* @end */

