
      <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Language" content="en">

      <title><%= title %></title>

      <link rel="icon" type="image/x-icon" href="favicon.ico">

      <link href="/css/github-main.css" media="all" rel="stylesheet" type="text/css">
      <link href="/css/github-secondary.css" media="all" rel="stylesheet" type="text/css">
      <link href="/css/documentation.css" media="all" rel="stylesheet" type="text/css">

      <script type="text/javascript" src="/js/jquery.js"></script>

      <script type="text/javascript">
        $(document).on("click", ".js-flash-close", function() {
            var t;
            return t = $(this).closest(".flash-messages"), $(this).closest(".flash").fadeOut(300, function() {
                return $(this).remove(), 0 === t.find(".flash").length ? t.remove() : void 0
            })
        });
      </script>
