<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <% include ./head %>

    </head>
    <body class="logged_in  env-production macintosh  page-profile mine">
        <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
        <div class="wrapper">
            <% include ./logined-banner %>
            <div class="site clearfix" role="main">
                <div id="site-container" class="context-loader-container" data-pjax-container>
                    <div class="container">
                        <div class="columns">
                            <div class="column one-fourth menu-container" role="navigation">
                                <ul class="menu accordion" data-pjax>
                                    <li class="section">
                                        <a href="/settings/profile" class="section-head">
                                        <img height="20" src="/avatars/<%= developer.avatarImg%>" width="20" />
                                        <%= developer.name%>
                                        </a>
                                        <ul class="expanded section-nav">
                                            <li>
                                                <a href="/settings/profile" class="js-selected-navigation-item selected" data-selected-links="avatar_settings /settings/profile">Profile</a>
                                            </li>
                                            <li>
                                                <a href="/settings/admin" class="js-selected-navigation-item " data-selected-links=" /settings/admin">Account settings</a>
                                            </li>
                                            <li>
                                                <a href="/settings/applications" class="js-selected-navigation-item " data-selected-links="applications_settings /settings/applications">Applications</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="column three-fourths">
                                <!-- Public Profile -->
                                <div class="boxed-group">
                                    <h3>Public profile</h3>
                                    <div class="boxed-group-inner clearfix
                                        js-uploadable-container js-upload-avatar-image is-default"
                                        data-upload-policy-url="/upload/policies/avatars">
                                        <form accept-charset="UTF-8" action="/users/dennis-xlc" class="columns"  method="post">
                                            <div class="column two-thirds">
                                                <dl class="form edit-profile-avatar">
                                                    <dt><label for="upload-profile-picture">Profile picture</label></dt>
                                                    <dd class="avatar-upload-container clearfix">
                                                        <img class="avatar left" height="70" src="/avatars/<%= developer.avatarImg%>" width="70" />
                                                        <div class="avatar-upload">
                                                            <a href="#" class="button button-change-profile-picture">
                                                            <label for="upload-profile-picture">
                                                            Upload new picture
                                                            <input id="upload-profile-picture" type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser js-avatar-field">
                                                            </label>
                                                            </a>
                                                            <!--
                                                            <div class="upload-state default">
                                                                <p>You can also drag and drop a picture from your computer.</p>
                                                            </div>
                                                            -->
                                                            <div class="upload-state loading">
                                                                <span class="button disabled">
                                                                <img alt="" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16" /> Uploading...
                                                                </span>
                                                            </div>
                                                            <div class="upload-state danger too-big">
                                                                Please upload a picture smaller than 1 MB.
                                                            </div>
                                                            <div class="upload-state danger bad-dimensions">
                                                                Please upload a picture smaller than 10,000x10,000.
                                                            </div>
                                                            <div class="upload-state danger bad-file">
                                                                Unfortunately, we only support PNG, GIF, or JPG pictures.
                                                            </div>
                                                            <div class="upload-state danger bad-browser">
                                                                This browser doesn't support uploading pictures.
                                                            </div>
                                                            <div class="upload-state danger failed-request">
                                                                Something went really wrong and we can't process that picture.
                                                            </div>
                                                        </div>
                                                        <!-- /.avatar-upload -->
                                                    </dd>
                                                </dl>
                                                <dl class="form">
                                                    <dt><label for="user_profile_name">Name</label></dt>
                                                    <dd><input id="user_profile_name" name="user[profile_name]" size="30" type="text" value="Xu Lvcai" /></dd>
                                                </dl>
                                                <dl class="form">
                                                    <dt><label for="user_profile_blog">URL</label></dt>
                                                    <dd><input id="user_profile_blog" name="user[profile_blog]" size="30" type="url" value="" /></dd>
                                                </dl>
                                                <dl class="form">
                                                    <dt><label for="user_profile_company">Company</label></dt>
                                                    <dd><input id="user_profile_company" name="user[profile_company]" size="30" type="text" value="" /></dd>
                                                </dl>
                                                <dl class="form">
                                                    <dt><label for="user_profile_location">Location</label></dt>
                                                    <dd><input id="user_profile_location" name="user[profile_location]" size="30" type="text" value="" /></dd>
                                                </dl>
                                                <p><button type="submit" class="button primary">Update profile</button></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop"></div>
            </div>
        </div>
        <!-- /.wrapper -->
        <% include ./footer %>

        <script crossorigin="anonymous" src="https://assets-cdn.github.com/assets/frameworks-dabc650f8a51dffd1d4376a3522cbda5536e4807e01d2a86ff7e60d8d6ee3029.js" type="text/javascript"></script>
        
        <script async="async" crossorigin="anonymous" src="https://assets-cdn.github.com/assets/github-d01013daa80c5a341ba3ddb684f2f26679eb369d67459151d5175a634a9e98a5.js" type="text/javascript"></script>

        <div class="facebox" id="facebox" style="top: 75.1px; left: 723px; display: none;">       <div class="facebox-popup">         <div class="facebox-content"><h2 class="facebox-header">Crop your new profile picture</h2>
<form accept-charset="UTF-8" action="/settings/avatars/576434" class="js-croppable-container" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="JuD2SKp+mSkwZzvZztqAWEwZ99lt8RZ1h9abErVj7VZSNS58mpgRD07xuw3SSGV4qHNiAXIvcI2dU/Lc/lQ6cQ=="></div>  <div class="profile-picture-cropper">
    <div class="profile-picture-spinner hidden" style="width:400px; height:403px"></div>
    <img src="https://media.githubusercontent.com/user/2142730/avatars/576434?orig=1" class="js-croppable-avatar croppable-avatar" data-true-width="577" data-true-height="581" alt="" style="display: none; visibility: hidden; width: 577px; height: 403px;"><div class="jcrop-holder" style="width: 397px; height: 400px; position: relative;"><div style="position: absolute; z-index: 600; width: 397px; height: 397px; top: 1px; left: 0px;"><div style="width: 100%; height: 100%; z-index: 310; position: absolute; overflow: hidden;"><img src="https://media.githubusercontent.com/user/2142730/avatars/576434?orig=1" style="border: none; visibility: visible; margin: 0px; padding: 0px; position: absolute; top: -1px; left: 0px; width: 397px; height: 400px;"><div class="jcrop-hline" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-hline bottom" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-vline right" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-vline" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-tracker" style="cursor: move; position: absolute; z-index: 360;"></div></div><div style="width: 100%; height: 100%; z-index: 320; display: block;"><div class="ord-n jcrop-dragbar" style="cursor: n-resize; position: absolute; z-index: 370;"></div><div class="ord-s jcrop-dragbar" style="cursor: s-resize; position: absolute; z-index: 371;"></div><div class="ord-e jcrop-dragbar" style="cursor: e-resize; position: absolute; z-index: 372;"></div><div class="ord-w jcrop-dragbar" style="cursor: w-resize; position: absolute; z-index: 373;"></div><div class="ord-n jcrop-handle" style="cursor: n-resize; position: absolute; z-index: 374; opacity: 0.5;"></div><div class="ord-s jcrop-handle" style="cursor: s-resize; position: absolute; z-index: 375; opacity: 0.5;"></div><div class="ord-e jcrop-handle" style="cursor: e-resize; position: absolute; z-index: 376; opacity: 0.5;"></div><div class="ord-w jcrop-handle" style="cursor: w-resize; position: absolute; z-index: 377; opacity: 0.5;"></div><div class="ord-nw jcrop-handle" style="cursor: nw-resize; position: absolute; z-index: 378; opacity: 0.5;"></div><div class="ord-ne jcrop-handle" style="cursor: ne-resize; position: absolute; z-index: 379; opacity: 0.5;"></div><div class="ord-se jcrop-handle" style="cursor: se-resize; position: absolute; z-index: 380; opacity: 0.5;"></div><div class="ord-sw jcrop-handle" style="cursor: sw-resize; position: absolute; z-index: 381; opacity: 0.5;"></div></div></div><div class="jcrop-tracker" style="width: 401px; height: 404px; position: absolute; top: -2px; left: -2px; z-index: 290; cursor: crosshair;"></div><input type="radio" class="jcrop-keymgr" style="position: fixed; left: -120px; width: 12px;"><img src="https://media.githubusercontent.com/user/2142730/avatars/576434?orig=1" class="js-croppable-avatar croppable-avatar" data-true-width="577" data-true-height="581" alt="" style="display: block; visibility: visible; width: 397.022332506204px; height: 400px; border: none; margin: 0px; padding: 0px; position: absolute; top: 0px; left: 0px; opacity: 0.6;"></div>

      <input class="js-crop-cropped_x" id="avatar-576434-cropped_x" name="cropped_x" type="hidden" value="0">
      <input class="js-crop-cropped_y" id="avatar-576434-cropped_y" name="cropped_y" type="hidden" value="1.4525">
      <input class="js-crop-cropped_width" id="avatar-576434-cropped_width" name="cropped_width" type="hidden" value="577">
      <input class="js-crop-cropped_height" id="avatar-576434-cropped_height" name="cropped_height" type="hidden" value="576.6424999999999">
  </div>

  <div class="facebox-footer">
    <button type="submit" name="op" value="save" class="button primary">
      Set new profile picture
    </button>
  </div>
</form></div>         <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">           <span class="octicon octicon-remove-close"></span>         </button>       </div>     </div>

    </body>
</html>
